@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Roboto', sans-serif;
}

/* Hide the default dot */
/* .slick-dots li button:before {
  content: '';
  font-size: 0;
} */

/* Custom dot as a circle */
/* .slick-dots li button {
  width: 12px;
  height: 12px;
  background-color: #e54848;
  border-radius: 50%;
  color: white;
} */

/* Active dot */
/* .slick-dots li.slick-active button {
  background-color: #32547e;
  
} */


